.movieGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(230px, 1fr)
  ); /* Responsive columns */
  gap: 30px; /* Space between grid items */
  width: 100%;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content in each item */
  padding: 10px;
  border-radius: 8px; /* Optional: round the corners */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Optional: add shadow */
  cursor: pointer;
  width: 100%;
  gap: 10px;
}

.movieItem > p {
  color: #cccccc77;
}

.heart {
  filter: invert();
  cursor: pointer;
}

.favorite {
  filter: none;
}

.overview {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.info h3 {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poster {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 150%;
  border-radius: 8px;
  overflow: hidden;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
