.movieGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  gap: 20px; /* Adjusts space between the grid items */
  width: 100%;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content in each item */
  padding: 10px;
  border-radius: 8px; /* Optional: round the corners */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Optional: add shadow */
  cursor: pointer;
  width: 100%;
}

.heart {
  filter: invert();
  cursor: pointer;
}

.favorite {
  filter: none;
}

.overview {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  text-align: center;
}

@media (max-width: 600px) {
  .movieGrid {
    grid-template-columns: repeat(1, 1fr); /* Creates 4 equal columns */
  }
}
