.ctas {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.ctas button {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  min-width: 180px;
}

.ctas button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

button.secondary {
  border-color: var(--gray-alpha-200);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  button.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .ctas {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  .ctas button {
    font-size: 14px;
    height: 40px;
  }

  .movieGrid {
    grid-template-columns: repeat(1, 1fr); /* Creates 4 equal columns */
  }

  .ctas button {
    min-width: 140px;
  }
}
