.favoriteMoviesContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.moviesList {
  list-style-type: none;
}

.movieItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.poster {
  border-radius: 10px;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h2 {
  margin: 0;
  font-size: 1.5rem;
}

.details p {
  margin: 5px 0 0;
  color: #666;
  font-size: 1rem;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.favoriteIcon {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.pageTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  .pageTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .details {
    align-items: flex-start;
  }

  .favoriteMoviesContainer {
    padding: 100px 50px;
  }

  .movieItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .poster {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .favoriteIcon {
    margin-top: 10px;
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(
      50px
    ); /* Adjust value for how far to the right it moves */
  }
}
