.closeIcon {
  position: absolute;
  left: 20px;
  top: 130px;
  z-index: 2; /* Ensure icon stays above the overlay */
  filter: invert();
  opacity: 0.7;

  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 1;
}
