.container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navigators {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.genre {
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.genre h4.selected {
  color: tomato;
}

@media (max-width: 600px) {
  .home,
  .genre {
    display: none;
  }

  .navigators {
    margin: auto;
  }
}
